
  
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{section.settings.custom_text_title}}</strong>
     {{section.settings.custom_text_body}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<div id="section-cta">
  <h3> {{ section.settings.text-box }} </h3>
  <a href="{{ section.settings.link }}" class="button">{{ section.settings.linktext }}</a>
</div>

</div>

<style>
.alert {
        background : {{ section.settings.background-color }};
          color:{{ section.settings.font-color }};
    }
</style>  


{% schema %}
{
    "name": "Custom Banner",
    "tag": "section",
    "class": "index-section--flush",
    "settings": [{
            "id": "custom_text_title",
            "type": "text",
            "label": "Banner Title",
            "default": "Banner Title"
        },
{
      "id": "link",
      "type": "url",
      "label": "Button link"
    },

{
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click Here"
    },
        {
            "id": "custom_text_body",
            "type": "richtext",
            "label": "Banner Text",
            "default": "<p>Add your text here</p>"
        },
        {
            "type": "color",
            "id": "background-color",
            "label": "Background Color",
            "default": "#fff3cd"
        },
        {
            "type": "color",
            "id": "font-color",
            "label": "Font Color",
            "default": "#664d03"
        }
    ],
    "presets": [{
        "name": "Custom Banner",
        "category": "Custom"
    }]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}